<mat-card class="subscription shadow-effect" style="text-align: center;">
 <div>
  <mat-card-header>
   <mat-card-title style="text-align: center;">Subscription Form</mat-card-title>

  </mat-card-header>
  <p>You can make your subscription hare..</p>
  <mat-form-field class="example-full-width col-md-5">
   <mat-label>Name</mat-label>
   <input type="text" matInput placeholder="Your Name">
  </mat-form-field>

  <mat-form-field class="example-full-width col-md-5">
   <mat-label>Email</mat-label>
   <input type="email" matInput placeholder="Ex. pat@example.com">
  </mat-form-field>

  <mat-card-actions class="col-md-2">
   <button mat-button class="btn btn-info btn-sub">SUBSCRIBE</button>

  </mat-card-actions>
 </div>
</mat-card>